
  <div class="banner">
    <div class="img1">
      <%= image_tag 'SUD OUEST 1968 05 20.jpeg', class: 'imgb' %>
    </div>
    <div class="img2">
      <%= image_tag 'SUD OUEST 1968 05 27 2.jpeg', class: 'imgb2' %>
    </div>
    <div class="titleb">
      <h1 class='title'>LOU-BECUT</h1>
      <p>ARCHIVES</p>
    </div>
    <div class="navhome">
      <div class="linknav">
        <%= link_to 'Accueil', root_path %>
      </div>
    </div>
  </div>
