<div class="containerhome">
  <div class="banner">
    <h1 class='title'><strong>Lou-Becut </strong>Archives</h1>
  </div>

  <div class="containerhome">
    <div class="cardhome">

      <div class="blink">
        <%= link_to 'Livres', books_path(@books) %>
      </div>

      <div class="blink">
        <%= link_to 'Vieux Journaux', old_news_papers_path(@old_news_papers) %>
      </div>
      

      <div class="blink">
        <%= link_to 'Vieux Papiers', old_papers_path(@old_papers) %>    
      </div>
      

      <div class="blink">
        <%= link_to 'Cartes Postales', postal_cards_path(@postal_cards) %>    
      </div>

    </div>
  </div>
</div>  